body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


:root {
    --Primary-Brand: #4D5AE5;
    --Pressed-state: #404BBF;
    --Dark: #2E2F42;
    --cloud: #F4F4FD;

}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}


.header {}

.header-navigation {}

.header-logo {
    text-transform: uppercase;
    color: var(--Primary-Brand);
    font-family: 'Raleway';

    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.header-span {
    color: var(--Dark);
}

.header-list {}

.header-item {}

.header-link:hover,
.header-link:focus {
    color: var(--Pressed-state);
}

.header-link {
    color: var(--Dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.address {}

.address-list {}

.address-item {}

.address-link {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.address-link:hover,
.address-link:focus {
    color: var(--Pressed-state);
}
/* контэнт */
.main {
}
.filtr {
}
.filtr-list {
}
.filtr-btm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--Primary-Brand);
    background-color: #E7E9FC;
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
   

}
.filtr-btm:hover,
.filtr-btm:focus {
    background-color: #404BBF;
    color:#FFFFFF
}
.features-hover{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;  
    letter-spacing: 0.02em;
    }
.features-meta{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
}    
/* подвал */
.footer {
    background-color: var(--Dark);
}
.footer-logo {
    text-transform: uppercase;
    color: var(--Primary-Brand);
    font-family: 'Raleway';

    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}
.footer-span {
    color: var(--cloud);
}
.footer-meta {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #E7E9FC;
}