body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fcfcfc;
}
.header {
  background-color: #ffffff;
}
.nav-header {
}
.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}
.header-logo-span {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #4d5ae5;
}
.list {
  list-style: none;
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-decoration: none;
}
.header-link:focus,
.header-link:hover {
  color: #404bbf;
}

.header-address {
}
.address-list {
}
.address-item {
}
.header-btn {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
  text-decoration: none;
}

.header-telefon {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
  text-decoration: none;
}
.header-contact:hover,
.header-contact:focus {
  color: #404bbf;
}
/*hero*/
.section-hero {
  background-color: #2e2f42;
}
.headline-hero {
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  text-align: center;
  color: #ffffff;
}
.hero-button {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  vertical-align: middle;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/*More info*/
.content-section {
}
.content-headline {
}
.content-list {
}
.content-item {
}
.content-subtitle {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  color: #2e2f42;
}
.content-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}
/*aur team*/
.team-section {
  background-color: #f4f4fd;
}
.team-headline {
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 2%;
  text-align: center;
  color: #2e2f42;
}
.team-list {
}
.team-item {
  background-color: #ffffff;
}

.team-subline {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  text-align: center;
}
/*aur team*/
.portfolio-section {
}
.portfolio-headline {
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 2%;
  text-align: center;
  color: #2e2f42;
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-subline {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  color: #2e2f42;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}
/*futer*/
.footer-section {
  background-color: #2e2f42;
}
.footer-logo {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
}
.footer-span {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #f4f4fd;
}
